@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&family=Lexend+Deca&display=swap");

:root {
  --clr-bg-sedan: hsl(31, 77%, 52%);
  --clr-bg-suv: hsl(184, 100%, 22%);
  --clr-bg-luxury: hsl(179, 100%, 13%);
  --clr-fg: hsla(0, 0%, 100%, 0.75);
  --clr-hl: hsl(0, 0%, 95%);
  --font-cursive: "Big Shoulders Display", cursive;
  --font-sans-serif: "Lexend Deca", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-sans-serif);
  line-height: 1.5rem;
}

.cards {
  max-width: 900px;
  margin: 0 auto;
  color: var(--clr-fg);
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.card {
  margin: 0 auto;
  padding: 3rem;
  font-size: 0.75rem;
  width: 100%;
  position: relative; /* So thet we can position the CTA */
}

.card--sedan {
  background-color: var(--clr-bg-sedan);
}

.card--suv {
  background-color: var(--clr-bg-suv);
}

.card--luxury {
  background-color: var(--clr-bg-luxury);
}

.card__img {
  padding-bottom: 2rem;
}

.card__heading {
  text-transform: uppercase;
  font-family: var(--font-cursive);
  font-size: 2rem;
  color: var(--clr-hl);
}

.card__text {
  padding: 2rem 0;
}

.card__cta__wrapper {
  position: absolute;
  bottom: 2rem;
}

.card__cta {
  text-decoration: none;
  background-color: var(--clr-hl);
  padding: 0.75rem 1.75rem;
  border-radius: 1010px;
  border: 1px solid --clr-hl;
}

.card--sedan .card__cta {
  color: var(--clr-bg-sedan);
}

.card--suv .card__cta {
  color: var(--clr-bg-suv);
}

.card--luxury .card__cta {
  color: var(--clr-bg-luxury);
}

.card__cta:hover {
  background-color: transparent;
  color: var(--clr-hl);
  border: 1px solid var(--clr-hl);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 750px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
